/* Inclui o preenchimento e a borda na largura e altura total de um elemento */
* {
   box-sizing: border-box;
   font-family: Arial;
   margin: 0;
   padding: 0;
 }

 /* estilo do cabeçalho */
 .header {
  background-color: #0984e3;
  padding: 3rem;
  margin: .5rem;
  color: white;
  text-align: center;
}

h1{
  padding-bottom: 3rem;
}

/* estilo do input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

/* estilo do botão adicionar */
#addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  text-align: center;
  font-size: 16pt;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  border: 0;
  outline: none;
}

#addBtn:hover {
  background-color: #bbb;
}

.flex{
  display: flex;
}

#tasks{
  margin: .5rem;
}

 /* Remova as margens e preenchimento da lista */
 ul li {
   cursor: pointer;
   position: relative;
   padding: 12px 8px 12px 40px;
   background: #eee;
   font-size: 18px;
   transition: 0.2s;
 }
 
 /* Defina todos os itens diferentes da lista para uma cor diferente (listras de zebra) */
 ul li:nth-child(odd) {
   background: #f9f9f9;
 }
 
 /* Cor de fundo mais escura ao passar o mouse em cima */
 ul li:hover {
   background: #ddd;
 }
 
 /* Quando clicado, adiciona uma cor de fundo e risca o texto */
 ul li.checked {
   background: #888;
   color: #fff;
   text-decoration: line-through;
 }
 
 /* Adicionar uma marca "marcada" ao clicar */
 ul li.checked::before {
   content: '';
   position: absolute;
   border-color: #fff;
   border-style: solid;
   border-width: 0 2px 2px 0;
   top: 10px;
   left: 16px;
   transform: rotate(45deg);
   height: 15px;
   width: 7px;
 }
 
 /* Estilize o botão Fechar */
 .close {
   position: absolute;
   right: 0;
   top: 0;
   padding: 12px 16px 12px 16px;
 }
 
 .close:hover {
   background-color: #f44336;
   color: white;
 }
 
 